<a href="https://colab.research.google.com/github/paulosalvatore/Ocean_CienciaDados_24_02_2021/blob/main/TSE_Ocean_CienciaDados_24_02_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import pandas as pd

sigla_uf = 'AL'

nome_arquivo = f'receitas_candidatos_2018_{sigla_uf}.csv'
url_arquivo = f'https://raw.githubusercontent.com/paulosalvatore/Ocean_CienciaDados_24_02_2021/main/receitas_candidatos/{nome_arquivo}'

df = pd.read_csv(url_arquivo, sep=';', encoding='latin-1', decimal=',')

In [ ]:
df

In [36]:
colunas = ['SQ_CANDIDATO', 'NM_CANDIDATO', 'VR_RECEITA']
df_filtrado = df[colunas]

In [37]:
len(df_filtrado.SQ_CANDIDATO.unique())

376

In [38]:
len(df_filtrado.NM_CANDIDATO.unique())

376

In [39]:
group = df_filtrado.groupby(['SQ_CANDIDATO', 'NM_CANDIDATO'])

group.SQ_CANDIDATO.count()

SQ_CANDIDATO  NM_CANDIDATO
20000600622   ADELMO JOSÉ SILVA DE ASSIS                         4
20000600623   MARIA TAVARES FERRO                               37
20000600624   TIBÉRIO DA SILVA ROCHA JÚNIOR                      3
20000602675   FLAVIA MARIA LUIZ DE MENDONÇA ALBUQUERQUE REIS     6
20000602676   HELOISA HELENA LIMA DE MORAES CARVALHO             5
                                                                ..
20000629335   THIAGO DOS ANJOS PEREIRA E SILVA                   3
20000629456   FRANCISCO JOSÉ DA SILVA                           15
20000629503   MOACYR LOPES DE ANDRADE FILHO                      4
20000630007   JOSÉ PINTO DE LUNA                                 4
20000630049   MARCOS ANTONIO MACEDO HOLANDA                      4
Name: SQ_CANDIDATO, Length: 376, dtype: int64

In [45]:
group_sum = group.VR_RECEITA.sum()

group_sum

SQ_CANDIDATO  NM_CANDIDATO
20000600622   ADELMO JOSÉ SILVA DE ASSIS                          2529.01
20000600623   MARIA TAVARES FERRO                                48714.45
20000600624   TIBÉRIO DA SILVA ROCHA JÚNIOR                       7299.16
20000602675   FLAVIA MARIA LUIZ DE MENDONÇA ALBUQUERQUE REIS      5871.00
20000602676   HELOISA HELENA LIMA DE MORAES CARVALHO            737000.00
                                                                  ...
20000629335   THIAGO DOS ANJOS PEREIRA E SILVA                    5606.00
20000629456   FRANCISCO JOSÉ DA SILVA                            39347.45
20000629503   MOACYR LOPES DE ANDRADE FILHO                      67531.94
20000630007   JOSÉ PINTO DE LUNA                                110400.00
20000630049   MARCOS ANTONIO MACEDO HOLANDA                      31260.00
Name: VR_RECEITA, Length: 376, dtype: float64

In [47]:
target = group_sum.nlargest(10)

target

SQ_CANDIDATO  NM_CANDIDATO
20000621740   MAURÍCIO QUINTELLA MALTA LESSA          2996680.12
20000621738   JOSÉ RENAN VASCONCELOS CALHEIROS        2573114.22
20000616688   BENEDITO DE LIRA                        2200806.62
20000616686   RODRIGO SANTOS CUNHA                    1878652.57
20000616797   ARTHUR CESAR PEREIRA DE LIRA            1741793.16
20000621935   SERGIO TOLEDO DE ALBUQUERQUE            1458222.68
20000616803   JOÃO HENRIQUE HOLANDA CALDAS            1395400.00
20000616809   PEDRO TORRES BRANDAO VILELA             1358975.09
20000621947   NIVALDO FERREIRA DE ALBUQUERQUE NETO    1282622.50
20000621941   MARX BELTRÃO LIMA SIQUEIRA              1073621.94
Name: VR_RECEITA, dtype: float64